#sdi_about{
    position: absolute;
    margin-left: 10%;
    text-align: left;
    top: 250px;
}

#sdi_about div{
    font-size: 32px;
    margin-bottom: 10px;
}

@media (max-width:768px){
    #sdi_about{
        position: absolute;
        margin-left: 4%;
        text-align: left;
        top: 150px;
    }
}

@media only screen and (max-width: 480px) {
    #sdi_about{
        position: absolute;
        margin-left: 2%;
        text-align: left;
        top: 150px;
        z-index: -1;
    }
}


// @media (max-width:768px){

// }

// @media only screen and (max-width: 480px) {

// }