.sdi_navbar{
    display: inline-bloack;
    max-width: 100%;
}

.sdi_navbar img{
    width: 140px;
    height: 80px;
    position: relative;
    top: 0px;
    left: 0px;      
}

.sdi_name{
    font-size: 20px;
}
 
.sdi_navbar1{
    float: right;
    display: block;
    color: #666;
    text-decoration: none;
    text-align: center;
    margin: 30px 2.5%;
    font-size: 20px;
    font-family: monospace;
}

#sdi_nav_last{
    margin-right: 15%;
}

.sdi_navbar1:hover{
    background: #b91372;
    background-clip: text;
    cursor: pointer;
}

.is-active{
    color: #b91372;
    font-weight: 500;
}

.sdi_bar{
    display: none;
    margin: 30px;
    cursor: pointer;
}

.sdi_bar1, .sdi_bar2, .sdi_bar3 {
    width: 35px;
    height: 5px;
    background-color: #666;
    margin: 6px 0;
    transition: 0.4s;
}

@media (max-width:768px){
    .sdi_navbar1{
        display: none;
    }
    .sdi_bar{
        display: block;
        float: right;
    }
    .sdi_navbar2{
        position: relative;
    }
    .sdi_bar{
        position: absolute;
        right: 0;
        top: 0;
    }
    .sdi_navbar2 .sdi_navbar1{
        float: none;
        display: block;
        text-align: left;
    }
    
}